# composer
/composer.lock
vendor/

# friendsofphp/php-cs-fixer
.php_cs.cache
.php-cs-fixer.php
.php-cs-fixer.cache

# Third party
/phpunit.xml
/.couscous
/.phpunit.result.cache

# Temporary files
/fixtures/actual
!/fixtures/actual/Generated*Test/.gitkeep
