# composer
composer.lock
vendor/

# couscous
.couscous

# friendsofphp/php-cs-fixer
.php_cs.cache
.php-cs-fixer.php
.php-cs-fixer.cache

# phpstan
phpstan.neon

# phpunit
phpunit.xml
.phpunit.result.cache

# Temporary files
/fixtures/actual
!/fixtures/actual/Generated*Test/.gitkeep
